

.options {
  display: flex;
}

.options div {
  padding: 10px 20px;
  background-color: #f2f2f2;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.monthly:hover {
  background-color: #69c3ff;
  color: #fff;
}

.yearly:hover {
  background-color: #e74c3c;
  color: #fff;
  
}

.options div + div {
  margin-left: 10px;
}

* {
  box-sizing: border-box;
}

.columns {
  float: left;
  width: 25%;
  padding: 8px;
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}

.button {
  background-color: #030603;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}