
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    background-color: rgba(31,76,145,255);
}

.form-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    
}

form {
    display: none;
}

h2 {
    margin: 0 0 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#plans .plan {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

#cancel-plan {
    background-color: #dc3545;
    display: block;
    margin-top: 10px;
}

#selected-plan-details {
    margin-top: 20px;
}
